$background: $secondary;
$fontsize: 14px;
$menu-width:200px;


.mobile-menu {

  width: $menu-width;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 0;
  transition:background 0.5s;

  list-style: none;
  background: $background;
  margin:0;
  padding:0;
  
  ul {
    
    margin:0;
    padding:0;  
    list-style: none;
	
  }
  
  li {
    
	   width: $menu-width;
	   margin:0;
	   padding:0;
	   
	   a {
       
			 display:block;
			 text-transform:uppercase;
			 padding: 1em;
			 background: $navabg;
			 color: $navacolor;
			 text-decoration:none;
			 transition: background 0.5s;
			 font-size: $fontsize;
       
       &:hover, &:active, &:focus{
         background: $navabghover;
         color: $navahover;	
       }
       
	   }
    
	   li a {
       
       padding-left: 1.6em;
       text-transform:capitalize;
       
    }

    &.current_page_item {

      a {
        background:$navabghover;
        color:$navahover;
      }

    }
    
  }
  
}


.site-wrap {

  min-height: 100%;
  min-width: 100%;
  background-color: $bg;
  position: relative;
  top: 0;
  bottom: 100%;
  left: 0;

}


.nav-trigger {

  position: absolute;
  clip: rect(0, 0, 0, 0);

}

label[for="nav-trigger"] {

  position: absolute;
  top: 0;
  padding: 10px 0 0 10px;
  z-index: 2;
  margin:0;
  transition: background 1s ease-in;
  z-index:5;

  &.scroll:before {

	  content:"";
	  height: 45px;
	  background: rgba(0,0,0,0.5);
	  width:100%;
	  position:fixed;
	  top:0;
	  left:0;  
	  z-index:4;

  }
  
}

.nav-trigger + label, .site-wrap {
  transition: left 0.2s;
}

.navigation.opened {
	left:0;
}

.nav-trigger:checked + label {

  height: 100%;
  width: calc(100% - 200px);
  left: 200px;
  background:url(../css/assets/pattern.svg); /*rgba(0,0,0,0.5);*/
  
  span {
		margin: 0;  
  }

}

.nav-trigger:checked ~ .site-wrap {
  left: 200px;
}

body {
  overflow-x: hidden;
}

.desktop-menu {
  display:none;
}

@media only screen and (min-width: 992px) {
  
  #nav-trigger, .menubtn {
    display:none;
  }
  
  .mobile-menu {
    
    width:70%;
    display:flex;
    justify-content: center;
    z-index:1;
    background:$primary;
    top:139px;
    height:49px;
    left:0;
    right:0;
    margin:0 auto;
    
    li {
      a {
        background:none;
        text-align:center;
        transition:0.3s;
      }
      &.current_page_item, &:hover, &:active, &:focus {
        a {
          color:$secondary;
        }
      }
    }
    
  }

}